* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4C4D6C;
}

/* header styles */
header {
    width: 100%;
}

.nav-wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

nav {
    width: 90%;
    margin: 0 auto;
    display: inline-grid;
    grid-template-columns: 1fr 4fr 1fr;
}
nav ul li{
   display: inline-grid;
}

/* banner styles */

.banner {
    width: 100%;
    height: 400px;
    background-color:white;
}

/* archive box styles */

.archive-box {
    width:90%;
    height: 300px;
    background-color: white;
    margin: 0 auto;
    margin-top:20px;
}

.archive-box ul {
    display: flex;
    justify-content: space-evenly;
}

.archive-box ul li {
    list-style-type: none;
}

/* content styles */

.content {
    width: 90%;
    height: auto;
    margin: 50px auto ;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.content .post-area .post {
    width: 95%;
    background-color: white;
    min-height:500px;
}

.content .post-area .post-research {
    width: 95%;
    background-color: white;
    display:grid;
    grid-template-columns: 2fr 1fr;
}

.content .post-area .interaction-box {
    width:95%;
    background-color:white;
    margin-top:30px;
}

.content .post-area .interaction-box .interaction-box-content {
    height:300px;
}

.content .post-area .followerlist .follower {
    display: flex;
    margin-bottom: 50px;
}

.content .post-area .followerlist .follower h2 {
    margin-right: 30px;

}

.content .sidebar .sidebar-box {
    background-color: white;
    margin-bottom: 30px;
}

.content-single {
    width:90%;
    height: auto;
    margin: 50px auto;
}

.content-single .single-post {
    width:100%;
    background-color:white;
}

.content-single .single-post .race-card-box {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-single .single-post .race-card-box .race-card {
    margin-right: 30px;
}

.content-single .single-post .archive-nav ul {
    display: flex;
    justify-content: space-evenly;
}

.content-single .single-post .archive-nav ul li {
    list-style-type: none;
}

/* footer styles */

footer {
    background-color:#E5A75E;
    height:100px;
}